.book-card {
  background-color: #D3D0CB;
  border-radius: 5px;
}

.testing {
  background-color: bisque;
}

.flex-right {
  display: flex !important;
  justify-content: flex-end;
}

.book-cover img {
  width: 150px;
  height: 200px;
}
